* {
  font-family: CaskaydiaCove Nerd Font Mono, Noto Sans, FontAwesome, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: #282828;
  border-bottom: 2px solid #3c3836;
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;

  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #928374; /* hardcoding a brighter color is necessary otherwise the text looks dimmed compared to the rest of the modules which is the color defined in window#waybar*/
}

#workspaces button:hover {
  background: #1d2021;
}

#workspaces button.active {
  background-color: #32302f;
  color: #fbf1c7;
  box-shadow: inset 0 -2px #3c3836;
  /* border-radius: 0 0 2px 2px; */
}

#workspaces button.persistent {
  color: #3c3836;
}

#workspaces button.urgent {
  color: #cc241d;
}

label:focus {
  background-color: #000000;
}

/* padding and margin */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-separator,
#mpd {
  padding: 0 10px;
  /* margin: 0 0 0 -3px; */
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}



/* modules */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #cc241d;
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#idle_inhibitor {
  padding: 0 12px;
}


#idle_inhibitor.activated {
  background-color: #0263b8
}

#idle_inhibitor.activated {
  background-color: #0263b8
}

#network.disconnected {
  color: #cc241d;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray {
  padding: 0 7px 2px 0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #cc241d;
}

#custom-sep {
  color: #665c54
}
